*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    color: white;
    overflow: hidden;
}
.personalData{
    display: flex;
    background-color: turquoise;
    width: 60%;
    border: 3px solid white;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
}
.slackname{
    margin: 20px;
    text-align: center;
    padding: 15px;
}
h1{
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.6;
}
.slackpicture{
    flex: 1;
    margin: 10px;
}
img{
    border-radius: 10px;
    object-fit: cover;
    object-position:center;
}
.currentDay{
    flex: 1;
    margin: 5px;
    text-align: center;
}
h2{
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}
.currentUTC{
    flex:1;
    text-align:center;
    padding: 15px;
}
p{
    font-size: 16px;
    color: blueviolet;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
}
.track{
    margin: 10px;
    text-align: center;
    flex: 1;
}
h3{
    font-size: 24px;
    color:aliceblue;
    font-style: normal;
    font-weight: 400;
}
.github{
    flex: 1;
    text-align: center;
    margin: 20px;
}
a{
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    color:yellow;
    font-weight: 500;
}
